.App {
  text-align: center;
  margin: 6px;
  height: 100%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.header {
  display:flex;
  align-items: center;
  margin: 10px;
}
.title{
  float:left;
  width: 30%;
}
.nav{
  float: right;
  width: 70%
}
#navbar {
list-style-type: none;
margin: 0;
padding: 0;
overflow: auto;
margin: 8px;
}
.navitem a {
float: right;
text-decoration: none;
padding: 8px 16px;
color: black;
}
.navitem :hover {
background-color: rgb(101, 61, 2);
color: white;
border-radius: 10px;
}
.paragraph {
  font-size: 18px;
  color: rgb(101, 61, 2);
  text-align:center;
}
.button {
  padding: 8px 16px;
  background-color: rgb(255, 187, 92);
}
.link {
  text-decoration:none;
  color:rgb(101, 61, 2);
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

