.header {
  display:flex;
  align-items: center;
  margin: 10px;
}
.title{
  float:left;
  width: 30%;
}
.nav{
  float: right;
  width: 70%
}
#navbar {
list-style-type: none;
margin: 0;
padding: 0;
overflow: auto;
margin: 8px;
}
.navitem a {
float: right;
text-decoration: none;
padding: 8px 16px;
color: var(--accent-color-2);
}
.navitem :hover {
background-color: var(--secondary-color);
color: var(--accent-color);
border-radius: 10px;
border: 2px solid var(--primary-color);
}
.paragraph {
  font-size: 18px;
  color: var(--secondary-color);
  text-align:center;
  margin-top:12px;
  margin-bottom:12px;
}
.button {
  padding: 8px 16px;
  background-color: var(--primary-color);
  border-radius: 10px;
}
.button:hover {
  background-color: var(--secondary-color);
  color: var(--accent-color);
  cursor: pointer;
}
.link {
  text-decoration:none;
  color: var(--secondary-color);
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}
.link:hover {
  color: var(--accent-color);
}

/* tracking page */
#timebox {

  margin-right: 60px;
}
.info {
  margin: 0;
  font-size: 40px;
  font-weight: bold;
  color: var(--secondary-color);
}
/* as a table, needs to be more readable and have more distinction between cells*/
table {
  margin-top: 20px;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #ddd;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: var(--primary-color);
  color: white;
}

/* metric page*/
#var_selection {
  display: flex;
  gap: 200px;
}
#metric_chart {
  width: 500px;
  margin-bottom: 20px;
}
/* about page */
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 80px;
}
#writing {
  margin-right: 40px;
}
#michelle-photo {
  width: 300px;
  border-radius: 20px;
  margin-top: 20px;
  border: 4px solid var(--secondary-color);
}

/*forms*/
form {
  display: flex;
  flex-direction: column;
  width: 300px;
}
input, select {
  padding: 8px;
  border-radius: 10px;
  border: 2px solid var(--primary-color);
  margin: 8px 0;
}

.submit {
  padding: 8px 16px;
  background-color: var(--primary-color);
  border-radius: 10px;
  border: none;
  color: var(--accent-color);
  font-weight: bold;
}
.submit:hover {
  background-color: var(--secondary-color);
  cursor: pointer;
}
