html {
  height: 100%;
}
body {
  margin: 60px;
  background-image: linear-gradient(to bottom, #FFDD8c, #FFBB5c);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
